/*
Copyright 2022, Roberto Schiavelli Júnior
SPDX-License-Identifier: MIT
*/

* {
  -webkit-print-color-adjust: exact;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  height: inherit;
  min-height: 100%;
}

a {
  text-decoration: none;
}

.page-container {
  width: 100%;
  max-width: 1360px;
  height: inherit;
  min-height: inherit;
  margin: auto;
  cursor: auto;
}

.resume {
  display: grid;
  grid-template-areas:
    "name projects"
    "skills projects"
    "skills projects"
    "skills education";
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(min-content, max-content);
  min-height: inherit;
}

.grid--light {
  color: #5a3d29;
  background-color: #ede0d4;
}

.grid--light a {
  color: #03045e;
}

.grid--light a:hover {
  color: #0077b6;
}

.grid--light a:active {
  color: #023e8a;
}

.grid--dark {
  color: #ede0d4;
  background-color: #5a3d29;
}

.grid--dark a {
  color: #ade8f4;
}

.grid--dark a:hover {
  color: #caf0f8;
}

.grid--dark a:active {
  color: #48cae4;
}

.grid--content {
  padding: 1em;
}

/* Show borders only in development */
.grid--content--dev {
  border: 1px black solid;
}

.grid-info {
  grid-area: name;
}

.grid-info__name {
  margin: 0;
}

.grid-info__contact {
  display: flex;
  flex-direction: column;
}

.contact__entry {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}

.contact__entry__icon {
  width: 100%;
  max-width: 1rem;
  margin-right: 0.5rem;
}

.grid-about {
  grid-area: about;
}

.grid-projects {
  grid-area: projects;
}

.grid-skills {
  grid-area: skills;
}

.grid-education {
  grid-area: education;
}

.section {
  margin-bottom: 1.5rem;
  color: #5a3d29;
}

.section--no-mb {
  margin-bottom: 0;
}

.section--dark {
  color: #ede0d4;
}

.section__header {
  width: 100%;
  margin-bottom: 0.8rem;
}

.section__title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #f8f2ef;
  text-underline-offset: 5px;
}

.section__title--dark {
  color: #3f2a1c;
  text-decoration-color: #7f5539;
}

.section__sub-section {
  margin-bottom: 1rem;
}

.section__sub-section--no-mb {
  margin-bottom: 0;
}

.section__sub-section__header {
  width: 100%;
  padding-inline-start: 10px;
  margin-bottom: 0.5rem;
  color: #e0e0e0;
}

.section__sub-section__title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #e3e0de;
  text-underline-offset: 5px;
}

.section__sub-section ul {
  margin: 0;
}

.list {
  padding-inline-start: 30px;
}

.list li::marker {
  color: #f8f2ef;
}

.education-list {
  display: flex;
  flex-flow: column wrap;
}

.education-list__entry {
  margin-bottom: 0.5rem;
}

.education-list .education-list__entry:last-child {
  margin: 0;
}

.education-list__entry-title {
  margin: 0;
  font-size: 1.15rem;
}

.education-list__entry-body {
  color: #474747;
}

.project-list {
  display: flex;
  flex-flow: column wrap;
}

.project-list__entry {
  margin-bottom: 0.5rem;
}

.project-list .project-list__entry:last-child {
  margin: 0;
}

.project-list__entry-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.project-list__entry-title {
  margin: 0;
  font-size: 1.15rem;
}

.project-list__entry-project-link {
  margin-left: 1rem;
  font-weight: 700;
}

.project-list__entry-languages {
  font-weight: 300;
  color: #474747;
}

.project-list__entry-languages span {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-right: 0.1rem solid #474747;
}

.project-list__entry-languages span:first-child {
  padding-left: 0;
}

.project-list__entry-languages span:last-child {
  padding-right: 0;
  border-right: 0;
}

.project-list__entry-body {
  color: inherit;
}

@page {
  padding: 0;
  margin: 0;
  size: a4 portrait;
}

@media print {
  .grid--content--dev {
    border: none;
    break-inside: avoid;
  } 
}
